html{
    background-image: url(background.jpg);
}
body{
    width: 100%;
    height: 770px;
    margin: auto;
}

header{
    height: 150px;
    border-bottom: 2px solid black;
}
main{
    height: 650px;
}
footer{
    height: 100px;
    border-top: 2px solid black;
}
#nav_menu ul{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    list-style: none;
    position: relative;
    margin-top: 0px;
    padding-bottom: 10px;
}
#nav_menu ul li{
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}
#nav_menu ul li a{
    color: black;
    text-decoration: none;
}
#nav_menu ul ul{
    display: none;
    position: absolute;
    top: 26px;
    
}
#nav_menu ul ul li{
    float: none;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#nav_menu ul ul li:hover{
    background-color: gray;
}
#nav_menu ul li:hover>ul{
    display: block;
}
#nav_menu>ul:after{
    content: "";
    display: block;
    clear: both;
}
.b1{
    text-decoration-line: none;
    text-align: center;
}
.B{
    text-decoration: none;
}